@import url('../assets/styles/mixin.less');

.select-tab {
    &-container {
        margin-top: 18px;
        height    : 90px;
        background: #fff;
    }

    &-wrapper {
        .flex(@dir : row);
        line-height: 40px;
        font-size  : 28px;

        &>div {
            line-height: 90px;
            flex       : 1;
            &:first-child{
                flex: 1.25;
            }
            .ellipsis();
        }

    }

    &-item {
        text-align : center;
        font-weight: 500;
    }

    &-rotate{
        vertical-align: text-top;
        transition: transform .5s;
    }

    &-icon{
        transform: rotate(-180deg);
    }

    &-mengban{
        width: 100%;
        height: calc(100% - 190px);
        position: absolute; 
        background: #000;
        opacity: 0;
        z-index: 9;
        visibility: hidden;
        transition: all .5s;
    }
    &-mbactived{
        opacity: 0.3;
        visibility: visible;
    }
    &-selector {
        font-size : 28px;
        width     : 100%;
        background: #000;
        position  : absolute;
        z-index: 9;
        max-height: 0;
        overflow: hidden;
        transition: max-height .5s;
        

        &>li {
            height     : 78px;
            line-height: 78px;
            background: #fff;
            border-top: 2px solid #EEEEEE;
            padding:0 42px;
            vertical-align: text-top;
            .flex(@justify:space-between);
        }
    }
    &-actived{
        overflow: auto;
        max-height: 500px;
    }
}
.base-color{
    color:@base-color;
}